[Unit]
Description=ODP Worker Agent (Heartbeat)
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/odp-agent
# L'IP du controller définie dans le Vagrantfile
Environment="CONTROLLER_URL=http://192.168.56.10"
# On utilise le venv préparé par l'équipe
ExecStart=/opt/odp-agent/venv/bin/python /opt/odp-agent/agent.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target